// Variables
$primary: #005F6A;
$info: #00A8BB;
$light: #F4F1DE;
$danger: #E9806E;
$success: #204E4A;
$secondary: $primary; // is this needed anywhere??
$background: #FAF9F0;
$diagram_color_1: $primary;
$diagram_color_2: #6B0B00;
$diagram_color_3: #002B6B;
$diagram_color_4: #006B40;
$diagram_color_5: $info;
$diagram_color_6: #BB004B;
$map_color_1: $primary;
$map_color_2: #E09A1A;

