// Import Bootstrap and its default variables
//@import '~bootstrap/scss/bootstrap.scss';
@import 'style/_color.module.scss';

:export {
  primary: $primary;
  info: $info;
  light: $light;
  danger: $danger;
  success: $success;
  secondary: $secondary;
  background: $background;
  diagram_color_1: $diagram_color_1;
  diagram_color_2: $diagram_color_2;
  diagram_color_3: $diagram_color_3;
  diagram_color_4: $diagram_color_4;
  diagram_color_5: $diagram_color_5;
  diagram_color_6: $diagram_color_6;
  map_color_1: $map_color_1;
  map_color_2: $map_color_2;
}

// change the theme
$theme-colors: (
  "primary": $primary,
  "info": $info,
  "light": $light,
  "danger": $danger,
  "success": $success,
  "secondary": $secondary,
  "background": $background,
  "website": $diagram_color_1
);

@import '~bootstrap/scss/bootstrap.scss';

#root {
  height: 100vh;
  background-color: $background;
}

.progress{
  height: 30px;
}


.tooltip {
  pointer-events: none;
}