// Import Bootstrap and its default variables
//@import '~bootstrap/scss/bootstrap.scss';
@import 'style/_color.module.scss';

:export {
  primary: $primary;
  info: $info;
}

// change the theme
$theme-colors: (
  "primary": $primary,
  "info": $info,
  "light": $light,
  "danger": $danger,
  "success": $success,
  "secondary": $secondary,
  "background": $background,
  "website": $diagram_color
);


@import '~bootstrap/scss/bootstrap.scss';


#root {
  height: 100vh;
  background-color: $background;
}

.progress{
  height: 30px;
}


.tooltip {
  pointer-events: none;
}