// Import Bootstrap and its default variables
//@import '~bootstrap/scss/bootstrap.scss';

// Variables
$primary: #1D3449;
$blue: $primary;
$info: #769FB6;
$light: #F4F1DE;
$danger: #E9806E;
$success: #204E4A;
$secondary: #4A6A80;
$background: #FAF9F0;
$green_color: #1E491D;
$purple_color: #481D49;
$diagram_color: #6ED7E9;
$diagram_color_2: #E09A1A;

// change the theme
$theme-colors: (
  "primary": $primary,
  "info": $info,
  "light": $light,
  "danger": $danger,
  "success": $success,
  "secondary": $secondary,
  "background": $background,
);


@import '~bootstrap/scss/bootstrap.scss';


#root {
  height: 100vh;
  background-color: $background;
}